* {

  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
.comment {
  color: #727F8E;
}
.selector {
  color: #000;
}

.property {
  color: #000;
}
.wrap-code {
  height: 100%;
  display:flex;

}
pre {
  margin: 0;
}
#code {
  padding: 16px;
}

@keyframes breath{
  0%{
    box-shadow: 0 0 10px rgba(0,0,0,1)
  }
  100%{
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
  }
}


.wrap-paper {
  padding: 16px;
  font-size: 16px;
}

.wrap-paper .resume {
  padding: 36px;
  overflow: scroll;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.wrap-paper .resume h1 {
  font-weight: 400;
}